@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Solway');

h1{
	color: #935430;
	font-family: "Solway", serif;
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
}

nav ul{
	background-color: #DCD2C8; 
	list-style-type: none;
	padding: 1em;
	margin: 0;
	text-align: center;
	overflow: hidden
}

nav li{
	display: inline-block;
	width: 20%;
	overflow: hidden;
}

body{
	color: #000;
	background-color: #F5F1EE;
	font-family: "Montserrat", sans-serif;
	line-height: 2em;
}

article{
	margin: 50px 100px 0px 100px;
}

h2{
	font-weight: bold;
}

footer{
	text-align: center;
	background-color: #DCD2C8;
	padding: 2em 0;
	font-weight: 800;
	overflow: hidden;
}

/* unvisited link */
a:link {
  color: #983D2C;
}

/* mouse over link */
a:hover {
  color: #A56C39;
}

.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 45%;
	padding: 20px 0;
}

.picture{
	display: block;
	margin-left: 500px;
	padding: 2em 0;
}



