@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Solway');

h1{
	color: #935430;
	font-family: "Solway", serif;
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
}

nav {
	background-color: #C2AEAB; 
	list-style-type: none;
	padding-top: .5em;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

nav li {
	display: inline-block;
	width: 20%;
	overflow: hidden;
}

a:link {
  color: #F5F1EE;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: #A56C39;
}

body{
	color: #000;
	background-color: #F5F1EE;
	font-family: "Montserrat", sans-serif;
	line-height: 2em;
	margin: 0;
}

h2 {
	font-weight: bold;
}

footer {
	text-align: center;
	background-color: #C2AEAB;
	font-weight: 800;
	overflow: hidden;
	margin: 0em -100em -100em -100em;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 45%;
	padding: 20px 0;
}

#two_column {
	padding: 20px;
}

#left {
	padding: 0px 20px;
	float:left;
	width: 50%;
	margin-left: 2em;
}

#right {
	padding: 20px;
	float: right;
	width: 38%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




